{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    <a class="btn btn-outline-primary mb-3" href="{{ path('room_index') }}">back to list</a>
    <h1>Create new Room</h1>

    {{ include('room/_form.html.twig') }}
{% endblock %}

{% block stylesheets %}
    <link  rel="stylesheet" href="/css/select2.min.css">
{% endblock %}

{% block javascripts %}
    {{ include('room/script-refacto.html.twig') }}
{% endblock %}
