{% extends 'base.html.twig' %}

{% block title %}New Option{% endblock %}

{% block body %}
    <a class="btn btn-outline-primary mb-3" href="{{ path('option_index') }}">retour à la liste</a>
    <h1>Create new Option</h1>

    {{ include('option/_form.html.twig') }}

{% endblock %}

{% block stylesheets %}
    <link  rel="stylesheet" href="/css/select2.min.css">
{% endblock %}

{% block javascripts %}
    {{ include('inc/select2-js.html.twig') }}
{% endblock %}
